.custom-universidad{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bolder;
}

.custom-colornav{
    background-color: #4d677e; 
    border-color: #1d3557;
}

.custom-facultad{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.custom-tamanio{
    width: 70%;  
}

.custom-negrita{
    font-weight: bold;
}
.paginate_button:hover{
    color: gray;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #8cbeca; }

.custom-inicioSesion{
    margin-left:-1px; margin-right:-1px; margin-top:-1px;
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    color: white;
}

.custom-espacio{
    width: 25px;
    height: 25px;
}

.custom-olvido{
    font-weight: bolder;
    text-decoration: underline;
}

.custom-centrar{
    align-items: center;
    align-content: center;
    align-self: center;
}

.custom-color{
    background-color: #577590; 
}

.custom-border{
    display: block;
    background-color: rgb(245, 245, 245);
}

.custom-card {
    background-color: #EFEEEE;

}

.custom-fondo{
    background: url('/images/fondo1.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
}

.custom-tamanioCasilla{
    width: 250px;
}

.custom-ingresar{
    text-align: center;
    height:40px; 
    width:180px;
    background-color: #577590; 
}

.custom-ingresar:hover{
    background-color: #1d3557;
}

.custom-botonmenu:hover{
    background-color: #3d5a80;
}

.custom-botondesplegable:hover{
    background-color: #1d3557;
}

.custom-colorCasillas:read-write{
    background-color: #f1faee;
}

.custom-recuperarSesion{
    margin-left:-1px; margin-right:-1px; margin-top:-1px;
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    color: white;
}

.custom-enviarSolicitud{
    height:35px; 
    width:150px;
    background-color: #577590;
}

.custom-enviarSolicitud:hover{
    background-color: #1d3557;
}

.custom-tamanioRecordar{
    margin-left:100px; margin-right:100px;
    align-content: center;
}
.margen-card{
    margin-top:50px;
}

.btn-custom{
    background-color: #577590;
    color: white;
    border-color: #577590 ;
}
.btn-eliminar{
    background-color:#f94144;
}

.custom-registro{
    margin-top:50px;
    margin-left:90px; margin-right:90px;
}

.custom-letraRegistro{
    margin-left:-1px; margin-right:-1px; margin-top:-1px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.custom-registrar{
    text-align: center;
    height:40px; 
    width:140px;
    background-color: #577590;
}

.custom-registrar:hover{
    background-color: #1d3557;
}
.custom-header{
    background-color:#577590;
 
    color:white
}

.custom-perfil{
    margin-left:-1px; margin-right:-1px; margin-top:-1px;
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    color: white;
}

.custom-ajustarVistaPerfil{
    margin-left:180px; margin-right:-1px; margin-top:80px;
    width: 350px;
    text-align: center;
    font-weight: lighter;
}

.custom-alinear{
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
}

.custom-foto{
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 100%;
}

.custom-fotoalumno{
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.custom-foto > .imagen{
    width: 100%;
    height: 100%;
    border-radius: 100%;

}

.custom-perfilElemento{
    display: block;
}

.card-img-top {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
}

.btn-info{
    background-color:#577590;
    border-color:#577590 ;
    color: white;

}

.btn-info:hover{
    background-color: #3d5a80;
    border-color: #3d5a80;
}

.btn-info:focus{
    background-color: #3d5a80;
    border-color: #3d5a80;
}

#sticky-footer {
    flex-shrink: none;
}

.inputWithIcon {
    position: relative;
}
  
.inputWithIcon i {
    position: absolute;
    left: 20px;
    top: 12px;
    padding: 9x 8px;
    color: #aaa;
    transition: 0.3s;
    float: none;
}

.custom-ajusteTextoImagen{
    padding-left: 30px; 
}
  
.custom-colorAdvertencia{
    background-color: #e63946;
}

.custom-invisible{
    position: absolute;
    top: 225px;
    left: 60px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 8%;
    opacity: 0;
}
.imgRedonda {
    width:  30px;
    height: 30px;
    border-radius: 60px;
}
.icono-input .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.icono-input .form-control {
    padding-left: 2.375rem;
}

.custom-lineaTiempo{
    height: 490px;
    width: 250px;
}

.custom-tipo[tipo="Negativa"] {
    box-shadow: 0 0 0 4px #f1636f, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background: #e63946;
}
.custom-tipo[tipo="Positiva"] {
    background: #90be6d;
    box-shadow: 0 0 0 4px #b5e98d, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

}
.custom-tipo[tipo="Informativa"] {
    background: #5390d9;
    box-shadow: 0 0 0 4px #74a9eb, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.btn-secondary{
    background-color: #2a9d8f;
}
.btn-secondary:hover{
    background-color: #1e6e65;
}
.btn-secondary:focus{
    background-color: #1e6e65;
}
.custom-file-input::before{
    content: 'Buscar';
}
 
.breadcrumb{

    background-color:#577590;
    margin-left:-1px; margin-right:-1px; margin-top:-1px;
    
}
.breadcrumb-item.active{
    color: white;
    font-size: medium;
}
.breadcrumb-item+.breadcrumb-item:before{
    color:#cfcccc;
    font-size: medium;
}
.breadcrumb-item a{
    padding: 0 5px;
    color: #cfcccc;
    font-size: medium;
  }

  .editar-observacion{
    color: white;
    background-color: #90be6d;
    border-radius: 50%;
    position: relative;
    left:75%;
  }

  .editar-observacion:hover{
    color:rgb(202, 195, 195);
    
  }

  .eliminar-observacion{
    color: white;
    background-color: #e63946;
    border-radius: 50%;
    position: relative;
    left:75%;
  }

  .eliminar-observacion:hover{
    color:rgb(202, 195, 195);
  }

  .col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.nav-pills .nav-link.active {
    background-color: #66a1d4!important;
}

.nav-tabs .nav-link{
    background-color: #e4e4e4;
}
.nav-tabs .nav-link.active {
    background-color: #ffffff;
}
