.custom-universidad{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bolder;
}

.custom-facultad{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.custom-tamanio{
    width: 760px;
    height: 350px;
}

.custom-imagen{
    background-image: url('/images/logo.png');
    width: 300px;
    height: 50px;
}

.custom-newRoman{
    font-family: "Times New Roman", Times, serif;
}

.custom-inicioSesion{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    color: white;
}

.custom-espacio{
    width: 25px;
    height: 25px;
}

.custom-olvido{
    display: block;
    text-align: justify;
    align-items: center;
    font-weight: bolder;
    text-decoration: underline;
}

.custom-centrar{
    align-items: center;
    align-content: center;
    align-self: center;
}

.custom-color{
    background-color: rgb(199, 97, 2);
}

.custom-border{
    display: block;
    background-color: rgb(245, 245, 245);
}

.custom-fondo{
    background: url('/images/facultad.jpg') no-repeat;
    background-size: 100%;
    background-position:center center;
    background-attachment: fixed;
    
}

.custom-ingresar{
    text-align: center;
    height:40px; 
    width:200px;
    background-color:  rgb(199, 97, 2);
}
.custom-ingresar:hover{

    background-color: brown;
}