.custom-universidad{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bolder;
}

.custom-facultad{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.custom-tamanio{
    width: 740px;
}

.custom-imagen{
    background-image: url('/images/logo.png');
    width: 300px;
    height: 50px;
}

.custom-inicioSesion{
    margin-left:-1px; margin-right:-1px; margin-top:-1px;
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    color: white;
}

.custom-espacio{
    width: 25px;
    height: 25px;
}

.custom-olvido{
    font-weight: bolder;
    text-decoration: underline;
}

.custom-centrar{
    align-items: center;
    align-content: center;
    align-self: center;
}

.custom-color{
    background-color: rgb(87, 117, 144, 0.95);
}

.custom-border{
    display: block;
    background-color: rgb(245, 245, 245, 0.90);
}

.custom-fondo{
    background: url('/images/fondo1.jpg') no-repeat;
    background-size: 100%;
    background-position:center center;
    background-attachment: fixed;

}

.custom-tamanioCasilla{
    width: 250px;
}

.custom-ingresar{
    text-align: center;
    height:40px; 
    width:170px;
    background-color: #577590;
}

.custom-ingresar:hover{
    background-color: #1d3557;
}

.custom-botonmenu{

}

.custom-botonmenu:hover{
    background-color: #3d5a80;
}

.custom-botondesplegable{

}

.custom-botondesplegable:hover{
    background-color: #e5e5e5;
}


.custom-colorCasillas:read-write{
    background-color: #f1faee;
}

.custom-recuperarSesion{
    margin-left:-1px; margin-right:-1px; margin-top:-1px;
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    color: white;
}

.custom-enviarSolicitud{
    height:35px; 
    width:150px;
    background-color: #577590;
}

.custom-enviarSolicitud:hover{
    background-color: #1d3557
}

.custom-tamanioRecordar{
    margin-left:100px; margin-right:100px;
    align-content: center;
}
.margen-card{
    margin-top:50px;
}